# Sandbox Experiment - 15.11.2019

This pretest was done to test the tracking features of the application. Participants were recruited with the help of MTurk. The HIT was 6 hours online.
36 users visited the application during those 6 hours. With the additional 33 users from the experiment before this makes a total of 69 users. 54 activities resulted in a conversion.

## Data Exploration

In [2]:
# import the libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.io.json import json_normalize

In [3]:
# import the data
activities_data = pd.read_json("./firestore_activities.json")
events_data = pd.read_csv("./events.csv")

#extract only name and fields
df = activities_data[["name", "fields"]]
normalized = json_normalize(data=df['fields'])
normalized.head(5)

,feedback.stringValue,created.timestampValue,option.stringValue,nudgelevel.integerValue
0,happy,2019-11-15T13:29:25.962Z,comfort,2
1,happy,2019-11-15T16:22:02.581Z,basic,2
2,happy,2019-11-13T11:45:43.858Z,basic,2
3,happy,2019-11-13T11:24:51.589Z,top,1
4,neutral,2019-11-13T10:51:39.540Z,comfort,0

In [13]:
# rank the string values on a integer value
df = normalized

normalized["feedback_label"] = df["feedback.stringValue"].rank(method="dense", ascending=False).astype(int)
normalized["option_label"] = df["option.stringValue"].rank(method="dense", ascending=False).astype(int)


df.head()
#df[["nudgelevel.integerValue", "feedback_label", "option_label"]].head(5)

,feedback.stringValue,created.timestampValue,option.stringValue,nudgelevel.integerValue,feedback_label,option_label
0,happy,2019-11-15T13:29:25.962Z,comfort,2,2,2
1,happy,2019-11-15T16:22:02.581Z,basic,2,2,3
2,happy,2019-11-13T11:45:43.858Z,basic,2,2,3
3,happy,2019-11-13T11:24:51.589Z,top,1,2,1
4,neutral,2019-11-13T10:51:39.540Z,comfort,0,1,2

In [12]:
# swarm plot to see the feedback based on the nudgelevel
#sns.swarmplot(x=normalized['nudgelevel.integerValue'], y=normalized['feedback.stringValue'])

In [7]:
# swarm plot to see the tariff option based on the nudgelevel
#sns.swarmplot(y=normalized['option.stringValue'], x=normalized['nudgelevel.integerValue'])